<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aposs_buyer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApossBuyerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_w"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_w"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apossbuyer">
        <activity
            android:name=".uicontroler.activity.UserDetailActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uicontroler.activity.DetailProductActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".uicontroler.activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".uicontroler.activity.SplashActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>